<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="headSetting">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
            href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&family=Open+Sans:wght@400;600;700&display=swap"
            rel="stylesheet"/>
    <!-- 스타일시트 초기화 -->
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css}">
    <!-- Bootstrap CSS -->
    <!--  <link rel="stylesheet" th:href="/src/main/resources/static/css/bootstrap/bootstrap.css">-->
    <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.css}">
    <!--  <link rel="stylesheet" href="/src/main/resources/static/css/bootstrap/sidebars.css">-->
    <link rel="stylesheet" th:href="@{/css/bootstrap/sidebars.css}">
    <!--  <link rel="stylesheet" href="/src/main/resources/static/css/bootstrap/bootstrap-signup.css">-->
    <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap-signup.css}">
    <!--  <link rel="stylesheet" href="/src/main/resources/static/css/admin.css">-->
    <link rel="stylesheet" th:href="@{/css/admin.css}"/>
    <!--  <script defer src="/src/main/resources/static/js/bootstrap/bootstrap.js"></script>-->
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script defer th:src="@{/js/bootstrap/bootstrap.js}"></script>

    <title th:text="${title}">Admin Management Page</title>
</head>

<body>
<!-- Header -->
<!-- <th:block th:fragment="headerFragment"> -->
<div class="container-fluid">
    <th:block th:fragment="headerFragment">
        <header>
            <div class="row">
                <div class="col" style="padding : 0">
                    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
                        <div class="container-fluid">
                            <a class="navbar-brand" href="admin" th:href="@{/admin}">
                                <img th:src="@{/img/admin/StudentSoupLogo.svg}"
                                     style="margin-left: 10px;">
                            </a>
                            <div style="margin:auto">
                <span class="navbar-text" style="text-align: center;">
                  <h2>운영자페이지입니다.</h2>
                </span>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </header>
    </th:block>
    <div class="row min-vh-100 ">
        <th:block th:fragment="sidebarFragment">
            <div class="col-2 min-vh-100" style="padding: 0;">
                <div class="flex-shrink-0 p-3 bg-info h-100">
                    <a href="#"
                       class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom text-white">
                        <span class="fs-5 fw-semibold">Management</span>
                    </a>
                    <ul class="list-instyled ps-0">
                        <li class="mb-1">
                            <button class="btn btn-toggle align-items-center rounded collapsed text-white"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#member-collapse" aria-expanded="false">
                                Member
                            </button>
                            <div class="collapse show" id="member-collapse">
                                <ul class="btn-toggle-nav list-instyled fw-normal pb-1 small text-white">
                                    <li><a th:href="@{/admin/member/new}" class="link-dark rounded text-white">멤버
                                        등록</a></li>
                                    <li><a th:href="@{/admin/members}" class="link-dark rounded text-white">멤버 조회</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="mb-1">
                            <button class="btn btn-toggle align-items-center rounded collapsed text-white"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#school-collapse" aria-expanded="false">
                                School
                            </button>
                            <div class="collapse" id="school-collapse">
                                <ul class="btn-toggle-nav list-instyled fw-normal pb-1 small">
                                    <li><a href="#" th:href="@{/admin/school/new}" class="link-dark rounded text-white">학교
                                        등록</a></li>
                                    <li><a href="#" th:href="@{/admin/schools}" class="link-dark rounded text-white">학교 조회</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="mb-1">
                            <button class="btn btn-toggle align-items-center rounded collapsed text-white"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#department-collapse" aria-expanded="false">
                                Department
                            </button>
                            <div class="collapse" id="department-collapse">
                                <ul class="btn-toggle-nav list-instyled fw-normal pb-1 small">
                                    <li><a href="#" th:href="@{/admin/department}"
                                           class="link-dark rounded text-white">학과 등록</a></li>
                                    <li><a href="#" th:href="@{/admin/departments}" class="link-dark rounded text-white">학교별 학과 조회</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="mb-1">
                            <button class="btn btn-toggle align-items-center rounded collapsed text-white"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#restaurant-collapse" aria-expanded="false">
                                Restaurant
                            </button>
                            <div class="collapse" id="restaurant-collapse">
                                <ul class="btn-toggle-nav list-instyled fw-normal pb-1 small">
                                    <li><a href="#" th:href="@{/admin/restaurant}"
                                           class="link-dark rounded text-white">레스토랑 등록</a></li>
                                    <li><a href="#" th:href="@{/admin/restaurants}" class="link-dark rounded text-white">레스토랑 조회</a></li>
                                </ul>
                            </div>
                        </li>
                        <!-- TODO 운영자 페이지 음식점 리뷰 삭제, 게시글 인증 글 처리, 공지사항 뷰 처리 -->
<!--                        <li class="mb-1">-->
<!--                            <button class="btn btn-toggle align-items-center rounded collapsed text-white"-->
<!--                                    data-bs-toggle="collapse"-->
<!--                                    data-bs-target="#restaurantReview-collapse" aria-expanded="false">-->
<!--                                Restaurant Review-->
<!--                            </button>-->
<!--                            <div class="collapse" id="restaurantReview-collapse">-->
<!--                                <ul class="btn-toggle-nav list-instyled fw-normal pb-1 small">-->
<!--                                    <li><a href="#" class="link-dark rounded text-white">레스토랑 리뷰 조회</a></li>-->
<!--                                </ul>-->
<!--                            </div>-->
<!--                        </li>-->
<!--                        <li class="mb-1">-->
<!--                            <button class="btn btn-toggle align-items-center rounded collapsed text-white"-->
<!--                                    data-bs-toggle="collapse"-->
<!--                                    data-bs-target="#board-collapse" aria-expanded="false">-->
<!--                                Board-->
<!--                            </button>-->
<!--                            <div class="collapse" id="board-collapse">-->
<!--                                <ul class="btn-toggle-nav list-instyled fw-normal pb-1 small">-->
<!--                                    <li><a href="#" class="link-dark rounded text-white">학교별 게시판 조회</a></li>-->
<!--                                    <li><a href="#" class="link-dark rounded text-white">학과별 게시판 조회</a></li>-->
<!--                                </ul>-->
<!--                            </div>-->
<!--                        </li>-->
                    </ul>
                </div>
            </div>
        </th:block>
    </div>
</div>
</body>

</html>