.hero-text {
  position: absolute;
  text-align: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero-text h2 {
  font-size: 65px;
  font-weight: 700;
  color: white;
  padding-top: 19px;
  text-shadow: 0px 3px 10px rgba(0, 0, 0, 0.6);
  padding-bottom: 31px;
}
.hero-text p {
  font-size: 40px;
  font-weight: 400;
  color: #fff;
  padding-top: 24px;
  text-shadow: 0px 3px 10px rgba(0, 0, 0, 0.6);
}

.school_search_bar {
  background-color: #fff;
  width: 684px;
  height: 60px;
  border-radius: 5px;
}
.school_search_bar img {
  position: relative;
  top: 9%;
  padding: 0px 16px;
}
.school_search_bar input {
  padding-left: 10px;
  position: relative;
  width: 530px;
  height: 58px;
  border: none;
  font-size: 25px;
  font-weight: 400;
}

.school_search_bar button {
  width: 94px;
  height: 60px;
  border-radius: 0px 5px 5px 0px;
  border: none;
  background-color: #ff611d;
  font-size: 25px;
  font-weight: 400;
  color: white;
}
