$main-mobile: 768px;

.background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 115px 0px;
    border-radius: 15px;
    width: 635px;
    height: 714px;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    h2 {
      margin-bottom: 45px;
      font-family: 'AppleSDGothicNeoB00';
      font-style: normal;
      font-weight: 400;
      font-size: 40px;
      line-height: 56px;
      color: #161616;
    }

    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;

      .id,
      .password {
        margin-bottom: 10px;
        padding-left: 15px;
        border: 1px solid #bcbcbc;
        border-radius: 5px;
        width: 78.26%;
        min-width: 300px;
        height: 60px;
        font-family: 'AppleSDGothicNeoM00';
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
        line-height: 21px;
        color: #888888;

        &::placeholder {
          color: #a0a0a0;
        }
      }

      .login-keep-wrap {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 41px;
        width: 78.26%;
        min-width: 300px;
        font-family: 'AppleSDGothicNeoM00';
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
        line-height: 21px;
        color: #3e3e3e;

        .remember-wrap {
          display: flex;
          flex-direction: row;
          align-items: center;
          height: 28px;

          .checked-remember-id {
            border-radius: 15px;
            width: 15px;
            height: 15px;
            background-color: #ff611d;
          }

          .unchecked-remember-id {
            border: 1px solid #bcbcbc;
            border-radius: 15px;
            width: 15px;
            height: 15px;
            background-color: white;
          }

          span {
            padding-left: 6px;
          }
        }

        a {
          text-decoration: none;
          color: #3e3e3e;
        }
      }

      button {
        margin-bottom: 10px;
        border-radius: 5px;
        width: 78.26%;
        min-width: 300px;
        height: 54px;
        font-family: 'AppleSDGothicNeoB00';
        font-style: normal;
        font-weight: 400;
        font-size: 1.25rem;
        line-height: 28px;
      }

      .login-button {
        background-color: #ff611d;
        border: 1px solid #ff611d;
        color: #ffffff;

        &:hover {
          cursor: pointer;
        }
      }

      .signup-link {
        display: flex;
        justify-content: center;
        width: 100%;
        text-decoration: none;

        .signup-button {
          background-color: white;
          border: 1px solid #ff611d;
          color: #ff611d;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
  @media screen and (max-width: 768px) {
    .main {
      margin: 0px;
      border-radius: 0px;
      width: 100%;
      height: 100%;
    }
  }
}
