<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/admin/admin-index :: headSetting}">

</head>
<body>
<div class="container-fluid">
    <th:block th:replace="~{admin/admin-index :: headerFragment}">

    </th:block>
    <div class="row min-vh-100 ">
        <th:block th:replace="~{admin/admin-index :: sidebarFragment}">

        </th:block>
        <div class="col-10" style="margin: auto">
            <row>
                <table class="table table-striped table-hover">
                    <thead>
                    <tr class="table-primary">
                        <th scope="col">#</th>
                        <th scope="col">학교명</th>
                        <th scope="col">학교 좌표</th>
                        <th scope="col">학생 수</th>
                        <th scope="col">학과 수</th>
                        <th scope="col">edit/delete</th>
                    </tr>
                    </thead>
                    <th:block th:if="${!schools.isEmpty()}">
                        <tbody>
                        <tr th:each="school : ${schools}">
                            <td th:text="${school.id}">#</td>
                            <td th:text="${school.schoolName}">name</td>
                            <td th:text="${school.schoolCoordinate}">coordinate</td>
                            <td th:text="${school.members.size()}">null</td>
                            <td th:text="${school.departments.size()}">null</td>
                            <td>
                                <a th:href="@{/admin/school/edit(schoolId = ${school.id})}">
                                    <img src="/img/admin/icon/pencil.svg">
                                </a>
                                /
                                <a th:href="@{/admin/school/delete(schoolId = ${school.id})}">
                                    <img src="/img/admin/icon/trash.svg">
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </th:block>
                    <th:block th:if="${schools.isEmpty()}">
                        <tbody>
                        <tr>
                            <td colspan="6" style="text-align: center"><h3>등록된 학교가 없습니다.</h3></td>
                        </tr>
                        </tbody>
                    </th:block>
                </table>
            </row>
            <row>
                <form th:object="${schoolSearch}">
                    <legend>입력으로 학교 조회하기</legend>
                    <div class="input-group mb-2">
                        <select class="form-select form-select-sm" th:field="*{field}" th:name="field" required="required">
                            <option value="">검색 필드</option>
                            <option value="schoolName">이름</option>
                        </select>
                        <input type="text" class="form-control" th:field="*{value}" th:name="value">
                        <button type="submit" class="btn btn-primary mb-2">검색</button>
                    </div>
                </form>
                <table class="table table-striped table-hover">
                    <thead>
                    <tr class="table-primary">
                        <th scope="col">#</th>
                        <th scope="col">학교명</th>
                        <th scope="col">학교 좌표</th>
                        <th scope="col">학생 수</th>
                        <th scope="col">학과 수</th>
                        <th scope="col">edit/delete</th>
                    </tr>
                    </thead>
                    <th:block th:if="${!findSchools.isEmpty()}">
                        <tbody>
                        <tr th:each="school : ${findSchools}">
                            <td th:text="${school.id}">#</td>
                            <td th:text="${school.schoolName}">name</td>
                            <td th:text="${school.schoolCoordinate}">coordinate</td>
                            <td th:text="${school.members.size()}">null</td>
                            <td th:text="${school.departments.size()}">null</td>
                            <td>
                                <a th:href="@{/admin/school/edit(schoolId = ${school.id})}">
                                    <img src="/img/admin/icon/pencil.svg">
                                </a>
                                /
                                <a th:href="@{/admin/school/delete(schoolId = ${school.id})}">
                                    <img src="/img/admin/icon/trash.svg">
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </th:block>
                    <th:block th:if="${findSchools.isEmpty()}">
                        <tbody>
                        <tr>
                            <td colspan="6" style="text-align: center"><h3> 검색된 학교가 없습니다.</h3></td>
                        </tr>
                        </tbody>
                    </th:block>
                </table>
            </row>
        </div>
    </div>
</div>
</body>
</html>