.NavbarItems {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid #ff661d;
  width: 100%;
  height: 75px;
  padding-left: 30px;
  z-index: 9999;

  .nav-menu {
    display: flex;
    list-style: none;
    align-items: center;
    text-decoration: none;

    .nav-links {
      color: #000;
      text-decoration: none;
      font-size: 20px;
      font-weight: 400;
      white-space: nowrap;
      width: 150px;
      height: 75px;
      display: flex;
      justify-content: center;
      align-items: center;

      i {
        font-style: normal;
        justify-content: center;
      }
      &:hover {
        background-color: #ff661d;
        color: white;
        transition: all 0.2s ease-in-out;
      }
    }
  }
}
