<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/admin/admin-index :: headSetting}">

</head>
<body>
<div class="container-fluid">
    <th:block th:replace="~{admin/admin-index :: headerFragment}">
    </th:block>
    <div class="row min-vh-100 ">
        <th:block th:replace="~{admin/admin-index :: sidebarFragment}">
        </th:block>
        <div class="col-10" style="margin: auto">
            <row>
                <form th:action="@{/admin/restaurants}" method="get">
                    <legend>입력으로 레스토랑 조회하기</legend>
                    <div class="input-group mb-2">
                        <select class="form-select form-select-sm" th:name="column">
                            <option value="name">Name</option>
                            <option value="schoolName">SchoolName</option>
                            <option value="tag">tag</option>
                            <option value="category">category</option>
                        </select>
                        <input type="text" class="form-control" th:name="find_value">
                    </div>
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary mb-2">검색</button>
                    </div>
                </form>
            </row>
            <table class="table table-striped table-hover">
                <thead>
                <tr class="table-primary">
                    <th scope="col">#</th>
                    <th scope="col">학교</th>
                    <th scope="col">카테고리</th>
                    <th scope="col">식당 이름</th>
                    <th scope="col">오픈 시간</th>
                    <th scope="col">닫는 시간</th>
                    <th scope="col">음식점 좌표 : 경도</th>
                    <th scope="col">음식점 좌표 : 위도</th>
                    <th scope="col">연락처</th>
                    <th scope="col">관련 태그</th>
                    <th scope="col">세부 내용</th>
                    <th scope="col">음식점 사진 명</th>
                    <th scope="col">평점</th>
                    <th scope="col">좋아요 수</th>
                    <th scope="col">메뉴 조회</th>
                    <th scope="col">edit/delete</th>
                </tr>
                </thead>
                <th:block th:if="${!findRestaurants.isEmpty()}">
                    <tbody>
                    <tr th:each="findRestaurants: ${findRestaurants}">
                        <td th:text="${findRestaurants.id}">#</td>
                        <td th:text="${findRestaurants.school.schoolName}">school</td>
                        <td th:text="${findRestaurants.restaurantCategory.restaurantCategory}">category</td>
                        <td th:text="${findRestaurants.name}">name</td>
                        <td th:text="${findRestaurants.startTime}">startTime</td>
                        <td th:text="${findRestaurants.endTime}">endTime</td>
                        <td th:text="${findRestaurants.coordinate.split(',')[0]}">Latitude</td>
                        <td th:text="${findRestaurants.coordinate.split(',')[1]}">Longitude</td>
                        <td th:text="${findRestaurants.tel}">tel</td>
                        <td th:text="${findRestaurants.tag}">tag</td>
                        <td th:text="${findRestaurants.detail}">detail</td>
                        <td th:if="${findRestaurants.imageFileList.size() != 0}">
                            <p
                                    th:each="imageFile : ${findRestaurants.imageFileList}"
                                    th:text="${imageFile.getFileName()} + ','">
                                text
                            </p>
                        </td>
                        <td th:if="${findRestaurants.imageFileList.size() == 0}">null</td>
                        <td th:text="${findRestaurants.starLiked}">starLiked</td>
                        <td th:text="${findRestaurants.likedCount}">likedCount</td>
                        <td>
                            <a th:href="@{/admin/{restaurantId}/restaurantMenus(restaurantId = ${findRestaurants.id})}">
                                <img src="/img/admin/icon/card-list.svg">
                            </a>
                        </td>
                        <td>
                            <a th:href="@{/admin/restaurant/edit/{restaurantId}(restaurantId = ${findRestaurants.id})}">
                                <img src="/img/admin/icon/pencil.svg">
                            </a>

                            <a th:href="@{/admin/restaurant/{restaurantId}(restaurantId = ${findRestaurants.id})}">
                                <img src="/img/admin/icon/trash.svg">
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </th:block>
                <th:block th:if="${findRestaurants.isEmpty()}">
                    <tbody>
                    <tr>
                        <td colspan="16" style="text-align: center"><h3> 검색된 음식점이 없습니다.</h3></td>
                    </tr>
                    </tbody>
                </th:block>
            </table>
        </div>
    </div>
</div>
</body>
</html>